/* You can add global styles to this file, and also import other style files */
:root {

    --blue1: #3C429E;
    --blue2: #4c52ad;
    --yellow: #fac742;
    ;
    --white: #fff;
    --grey: #ededed;
    --shadowdark: rgba(0, 0, 0, 0.3);
    --shadowlight: rgba(255, 255, 255, 0.1);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: #3C429E;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 350px;
    height: 80vh;
    background-color: #4c52ad;
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--darkshadow);
}

.upper-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.upper-data img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.weatherdata {

    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--darkshadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location {
    color: var(--white);
    text-align: center;
    font-size: 1.2em;

}

.temperature {
    color: var(--white);
    font-size: 4em;
    text-align: center;
    font-weight: 1000;
}

.moreinfo {
    color: var(--white);
    margin-bottom: 1em;

}

.moreinfocontainer {
    flex: 1;
    background-color: var(--shadowlight);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 1ew;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.moreinfocontainer span {
    color: white;
}

.infoblock {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.infoblocklabel {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoblocklabel img {
    width: 2.5em;

}

.moreinfolabel span {
    color: var(--white);
    font-size: 0.8em;
}

.infoblockvalue {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);
}

.lower-data {
    position: relative;
    overflow: hidden;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.search input {
    background-color: var(--shadowlight);
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1em;
    color: var(--white);
    font-size: 0.8em;
    text-align: center;
    margin-left: 6em;
    margin-bottom: 1em;
}